@page
@model LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg">
                <div class="card-body p-4">
                    <h1 class="text-center mb-4">@ViewBag.Title</h1>
                    <hr />
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                            <label asp-for="Input.Username" class="form-label">Username</label>
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" id="passwordInput" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <span toggle="#passwordInput" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe" />
                                    <label class="form-check-label" asp-for="Input.RememberMe">
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="col text-end">
                                <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none">Forgot your password?</a>
                            </div>
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-lg">Log in</button>
                        </div>

                        <div class="text-center mt-3">
                            <p class="mb-1">
                                Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none">Register as a new user</a>
                            </p>
                        </div>
                    </form>

                    <div class="mt-4 pt-4 border-top">
                        <section>
                            @{
                                if
                                ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div class="text-center">
                                        <p>
                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                article
                                                about setting up this ASP.NET application to support logging in via external services
                                            </a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin"
                                          asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <div class="d-flex justify-content-center flex-wrap gap-2">
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                @if (provider.Name == "Google")
                                                {
                                                    <button type="submit" class="btn btn-danger" name="provider" value="Google" title="Log in using your Google account">
                                                        <i class="fab fa-google"></i> Login with Google
                                                    </button>
                                                }
                                                else if (provider.Name == "Facebook")
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="Facebook" title="Log in using your Facebook account">
                                                        <i class="fab fa-facebook"></i> Login with Facebook
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-outline-secondary" name="provider" value="@provider.Name"
                                                            title="Log in using your @provider.DisplayName account">
                                                        @provider.DisplayName
                                                    </button>
                                                }
                                            }
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script>
            $(document).ready(function() {
                $(".toggle-password").click(function() {
                    $(this).toggleClass("fa-eye fa-eye-slash");
                    var input = $($(this).attr("toggle"));
                    if (input.attr("type") == "password") {
                        input.attr("type", "text");
                    } else {
                        input.attr("type", "password");
                    }
                });
            });
        </script>

        <style>
            .field-icon {
                float: right;
                margin-right: 15px;
                margin-top: -35px;
                position: relative;
                z-index: 2;
                cursor: pointer;
            }
        </style>
}
