@model AddToWishlistViewModel

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center">
        @TempData["ErrorMessage"]
    </div>
}

@{
    ViewBag.Title = "Add to Wishlist";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-center row justify-content-center">
    <div class="card col-3 h-100" style="width: 20rem; margin: 0.5rem;">
        <div id="carouselExampleIndicators_@Model.DestinationId" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @if (Model.DestinationImageUrls != null && Model.DestinationImageUrls.Any())
                {
                    for (int i = 0; i < Model.DestinationImageUrls.Count; i++)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <img src="@Model.DestinationImageUrls[i]" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="@Model.DestinationName">
                        </div>
                    }
                }
                else
                {
                    <div class="carousel-item active">
                        <img src="~/images/NoPhoto.jpg" class="d-block w-100" style="height: 200px; object-fit: cover;" alt="No Image">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_@Model.DestinationId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_@Model.DestinationId" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="card-body">
            <h4 class="card-title">@Model.DestinationName</h4>
            <h6 class="card-text">@Model.DestinationDescription</h6>
        </div>
        <div class="row gx-0">
            <div class="col-12 px-1">
                <form asp-action="Add" method="post">
                    <input type="hidden" asp-for="DestinationId" />
                    <button type="submit" class="btn btn-primary btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Add to Wishlist</button>
                </form>
            </div>
        </div>
    </div>
</div>
