@model IEnumerable<CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h1>@ViewBag.Title</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameBg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameBg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEn)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Add" class="btn btn-success">Add new category</a>
</p>