@model DestinationDetailsViewModel

<h1>@Model.Name</h1>

@if (!string.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" alt="Image of @Model.Name" class="img-fluid" style="height: 200px; object-fit: cover;">
}

<p>@Model.Description</p>

<h4>Reviews:</h4>

@if (Model.Reviews.Any())
{
    <ul class="list-unstyled">
        @foreach (var review in Model.Reviews)
        {
            <li>
                <p><strong>@review.User:</strong></p>
                <p>@review.Comment</p>
                <p>Rating: 
                    <span>
                    @for (int i = 1; i <= @review.Rating; i++)
                    {
                        if (i <= @review.Rating)
                        {
                            <i class="bi bi-star-fill text-warning"></i>
                        }
                        else
                        {
                            <i class="bi bi-star text-muted"></i>
                        }
                    }
                </span>
                </p>
                <p>(@review.CreatedAt)</p>
            </li>
        }
    </ul>
}
else
{
    <p>No reviews yet.</p>
}