@using System.Security.Claims;
@model IEnumerable<DestinationIndexViewModel>

@{
    ViewBag.Title = "Destinations";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center">
        @TempData["ErrorMessage"]
    </div>
}

<div class="text-center row justify-content-center">
    @foreach (var e in Model)
    {
        <div class="card col-3 h-100" style="width: 20rem; margin:0.5rem">
            @if (!string.IsNullOrEmpty(e.ImageUrl))
            {
                <img src="@e.ImageUrl" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            }
            else
            {
                <img src="~/images/NoPhoto.jpg" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
            }
            <div class="card-body" style="height: calc(100% - 150px); overflow: auto;">
                <div class="row">
                    <div class="col-12">
                        <div class="title-wrapper" style="height: 6em; overflow: hidden;">
                            <h4 class="card-title mt-1">@e.Name</h4>
                            <h6 class="card-text mt-1">@e.Description</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gx-0">
                <div class="col-12 px-1">
                    <a asp-controller="PlaceToVisit" asp-action="Add" asp-route-id="@e.Id" class="btn btn-primary btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Add to Wishlist</a>
                    <a asp-controller="FavoritePlace" asp-action="Add" asp-route-id="@e.Id" class="btn btn-primary btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Add to Favorite</a>
                </div>
            </div>

            <div class="row gx-0">
                @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == e.UserId)
                {
                    <div class="col-6 px-1">
                        <a asp-controller="Destination" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Edit</a>
                    </div>
                    <div class="col-6 px-1">
                        <a asp-controller="Destination" asp-action="Details" asp-route-id="@e.Id" class="btn btn-success btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Details</a>
                    </div>
                }
                else
                {
                    <div class="col-12 px-1">
                        <a asp-controller="Destination" asp-action="Details" asp-route-id="@e.Id" class="btn btn-success btn-sm mb-2 w-100 fw-bold rounded btn-dark-text">Details</a>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}